/* Style for AA's test page
Site  name v1
*/

#content{
	max-width: 960px;
	margin: 0 auto;
}

h1{
	font-family: Geneva, Tahoma, sans-serif;
	font-weight: bold;
	font-size: 42px;
	color: #2c7fb8;
}

p{
	font-family: Palatino, Linotype, serif;
	font-size: 16px;
}

h2{
	font-family: Geneva, Tahoma, sans-serif;
	font-size: 18;
}

h3{
	font-family: Geneva, Tahoma, sans-serif;
	font-size: 16;
}

ul{
	list-style-type: circle;
}

a:hover{color: blue;
}