/* Style for AA's test page
Site  name v1
*/

body {font-family: "PT Serif", "Calisto MT", serif;
}


#page {
	max-width: 1080px;
	margin: 0 auto;
}

header {
	position: relative;
	width: 1080px;
	height: 531px;
	margin-bottom: 0px;
}


#title {
	width: 500px; 
	height: 531px;
	position: absolute;
	top: 0px;
	left: 5px;
	z-index: 100;
}

.subhead{ 
	font-family: "PT Sans", Helvetica, sans-serif;
	font-size: 150%;
	font-weight: normal;
	margin-top: 0px;
	position: relative;
	left: 135px;
}

.byline {
	font-family: "PT Sans", Helvetica, sans-serif;
	font-size: 112.5%;
	color: #D8D8D8 ;
	text-shadow: 2px 2px 0px #000000;
	margin-top: 400px;
}

.photo_credit {
	font-family: "PT Sans", Helvetica, sans-serif;
	font-style: italic;
	font-size: 70%;
	color: #545454;
	margin-left: 0px;
	margin-top: 0px;
	padding-top: 0px;
}

.graf1 {
	font-family: "PT Sans", Helvetica, sans-serif;
	font-size: 150%;
}

.intro {
	font-weight: bold;
	color: #076E67;
}

#photo1 {
	float: right;
	margin-top: 5px;
}


#content {
	max-width: 800px;
	margin: 60px auto 0px auto;
}



#viz1 {
	margin-top: 30px;
}

.viz_head {
	margin-bottom: 2px;
}

#homes_viz {
	
}


#box1 {
	float: right;
	margin-top: 10px;
	margin-left: 20px;
	margin-right: -120px;
	margin-bottom: 10px;
	
}

#box2 {
	float: left;
	margin-top: 10px;
	margin-right: 20px;
	margin-left: -120px;
	margin-bottom: 10px;
}

/* HEADING and LINK STYLES */

h1, h2, h3 {
	font-weight: bold;
}

p {
	font-size: 100%;
	line-height: 1.4em;
}
 
h1{
	font-family: "PT Serif", "Calisto MT", serif;
	font-size: 300%;
	color: #FFFFFF;
	text-shadow: 2px 2px 0px #000000;
	margin-top: 5px;
	margin-bottom: 0px;
}

h2{
	font-family: "PT Sans", Helvetica, sans-serif;
	font-size: 150%;
	color: #076E67;
	margin-top: 30px;
	margin-bottom: 10px;
}

h3{
	font-family: "PT Sans", Helvetica, sans-serif;
	font-size: 112.5%;
	color: #076E67;
}

a:link{
	text-decoration: none;
	color:#1C84D6;
}

a:visited {
	color:#BABABA;
}

a:hover {
	color:#1666A6;
	text-decoration: underline;
}

