/* Style for AA's test page
Site  name v1
*/

body {font-family: "PT Sans", Helvetica, sans-serif;
}


#page {
	max-width: 1080px;
	margin: 0 auto;
}

header {
	position: relative;
	width: 1080px;
	height: 531px;
	margin-bottom: 10px;
}

#header_image {
	position: absolute;
	left: 0px;
	top: 0px;

}

#title {
	width: 500px; 
	height: 531px;
	position: absolute;
	top: 0px;
	left: 5px;
	z-index: 100;
}

.subhead{ 
	font-size: 150%;
	font-weight: normal;
	margin-top: 0px;
	position: relative;
	left: 100px;
}

.byline {
	font-size: 112.5%;
	color: #545454;
	font-style: italic;
	margin-left: 5px;
	margin-top: 0px;
	padding-top: 0px;
	margin-bottom: 0px;
}

.photo_credit {
	font-style: italic;
	font-size: 80%;
	color: #545454;
	margin-left: 5px;
	margin-top: 0px;
	padding-top: 0px;
}

#content {
	max-width: 800px;
	margin: 30px auto 0px auto;
}



#viz1 {
	margin-top: 30px;
}

.viz_head {
	font-weight: bold;
	font-size: 112.5%;
	color: #08849F;
	margin-bottom: 2px;
}

#homes_viz {
	
}

#body {
	margin-top: 40px;

}

#box1 {
	width: 300px;
	height: 300px;
	border: 2px solid black;
	float: right;
	margin-left: 10px;
	margin-right: 0px;
	margin-bottom: 10px;
	
}

#box2 {
	width: 400px;
	height: 300px;
	border: 2px solid black;
	float: left;
	margin-right: 10px;
	margin-bottom: 10px;
}

/* HEADING STYLES */

h1, h2, h3 {
	font-family: "PT Serif", "Calisto MT", serif;
	font-weight: bold;
	margin-top: 5px;
	margin-left: 5px;
}

p {
	font-size: 100%;
	line-height: 1.4em;
}
 
h1{
	font-size: 300%;
	color: #FFFFFF;
	text-shadow: 2px 2px 0px #000000;
	margin-bottom: 0px;
}

h2{
	font-size: 150%;
	color: #08849F;
}

h3{
	font-size: 112.5%;
	color: #08849F;

	/* LINKS */

a:link {
	text-decoration: none;
	color: #17367F;
}

a:hover {
	color: #2E6CFF;
}

a:visited {
	color: gray;
}
